/users-management/Infraestructure/pgadmin-data/sessions/5d976d26-43f3-472d-a118-9fa6a181d941
/users-management/Infraestructure/pgadmin-data/sessions/8ab44e16-793b-4c32-b9fc-84946f8c25f3
/users-management/Infraestructure/pgadmin-data/sessions/e3a0caa0-8c00-4e9d-8be1-0cbeaa93a2bf
/users-management/Infraestructure/pgadmin-data/pgadmin4.db
users-management/Infraestructure/pgadmin-data/sessions/7278563c-f140-4668-a4a1-bfbe4b41c6be
users-management/Infraestructure/pgadmin-data/sessions/feb39241-85c3-4e3e-b189-08f0e61fdf38

/**/bin
/**/obj